*.log
*.rds
*.fasta
*.fna
*.fai
*.stats
input/**
*.csv
*.pdf
*.html
*.RDS
results/**
!results/README
logs/**
!logs/README
benchmarks/**
!benchmarks/README
.cache
.snakemake/**
resources/**
*.gz
*.html
.Rproj.user
.DS_Store
**/auto/
tags
*~
*blx.bib
\#*
.#*
*.blg
*.bbl
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.log
*.lof
*.lol
*.lot
*.out
*.toc
*.xml
*.numbers
web/**
