*.rds
*.fasta
*.fna
*.fai
*.stats
reads/**
*.csv
*.pdf
*.html
*.RDS
results/**
!results/README
logs/**
!logs/README
benchmarks/**
!benchmarks/README
.cache
.snakemake/**
resources/**
*.gz
*.html
.Rproj.user
